defaults:
 virtualservers:
  all:
   partition: Common
   ipprotocol: tcp
   protocolprofile: tcp
   sourceaddresstranslation:
    type: none
   translateaddress: enabled
   translateport: enabled

  443:
   httpprofile: http
   rules:
   sslprofile: default
   https_redirect: False

  80:
   httpprofile: http
   rules:
   sslprofile: False
   https_redirect: True

 pools:
  partition: Common
  loadbalancingmode: round-robin
  monitor: http
  minactivemembers: Disabled

 nodes:
  partition: Common
  port: 80
  prioritygroup: 0

namemanglerules:
 virtualservers:
  name:
   prefix: vip_
   suffix:
  destination:
   prefix: '/Common/'
   suffix:
  rules:
   prefix: '/Common/'
   suffix:
 pools:
  name:
   prefix: pool_
   suffix:

profiletemplates:
 httpprofile:
  kind: tm:ltm:virtual:profiles:profilestate
  partition: Common
  context: all
 protocolprofile:
  kind: tm:ltm:virtual:profiles:profilestate
  partition: Common
  context: all
 sslprofile:
  kind: tm:ltm:virtual:profiles:profilestate
  partition: Common
  context: clientside