vip:
 servicename: website
 hostname: www.website.com
 ip: 10.10.10.10
 ssl: wildcard.website.com
 https_redirect: True
 partition: common
 pool:
  monitor: http
  members:
   node1.website.com:
    endpoint: 10.0.0.1:80
    prioritygroup: 1
   node2.website.com:
    endpoint: 10.0.0.2:80
    prioritygroup: 2